@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'Ramona-Light';
    src: url(./fonts/Harmond/Ramona-Light.ttf);
  }
@font-face {
    font-family: 'Ramona-Bold';
    src: url(./fonts/Harmond/Ramona-Bold.ttf);
  }
/* Global
----------------------------------------------- */
*,
*:before,
*::after {
  box-sizing: border-box; /*changing how padding is calculated*/
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Lora', serif;
  font-size: 15px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  text-size-adjust: none;

}

/* p {
  font-size: 1rem;
} */

img {
  display: block;
  max-width: 100%;
}

.page-title {
    margin-left: 30px;
    font-size: 50px;
    font-weight: normal;
  }

/* border: 1px solid blue; */


/* General Effects
 ----------------------------------------------- */
 .wavy {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color: #000;
    text-decoration: none;
  }
 
  .wavy:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FDCA40' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }


/* Navigation Bar
----------------------------------------------- */
.navbar {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
}

.navlinks {
    margin-left: auto;
    margin-right: 10px;
}

.headerleft {
    margin-left: 30px;
  }


.navlinks a {
    font-size: 15px;
    padding: 5px 18px;
    padding-right: 5px;
    color: black;
    text-decoration: none;
    list-style-type: none;
  
  }

.navbar a:hover {
    border-bottom: 3px solid #fff3b0;
  }
.navbar a.active {
    border-bottom: 3px solid #FDCA40;
}

.navbar .active:after {
    content: ".";
  }

/* Responsive Navbar */
@media (max-width: 586px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        height: 100px;
        align-items: center;
    }
    .headerleft {
        max-width: 77px;
       
    }
    .navlinks {
        margin-left: 0px;
    }
    .navlinks a {
        padding: 4px 4px;
    }

    .headerleft {
        margin-left: 8px;
    }
}

/* Footer
----------------------------------------------- */

.footer {
    text-align: center;
    padding: 2.5em 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Karla', sans-serif; */
    /* font-family: 'Inconsolata', monospace; */
    font-weight: bold;
  }
  
  .footer a {
    color: #f6bd60;
    text-decoration: none;
  }
  .footer-link:hover,
  .social-list_link:hover {
    opacity: 0.7;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    padding: 0;
  }
  
  .social-list_item {
    margin: 0 .5em;
  }
  
  .social-list_link {
    padding: .5em;
  }










/* ---------------------- PAGES ------------------
----------------------------------------------- */

 /* HOME PAGE
 ----------------------------------------------- */

.home {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    
}
.section_title-home {
    font-family: 'Ramona-Light','Lora', serif;
    font-weight: normal;
    font-size: 50px;
    

}
.section_subtitle-home {
    padding-top: 5px;
    line-height: 1.6;

}
.home_img {
    border-radius: 25%;
    padding: 20px 20px;
    /* margin: 10px 30px; */
    

}
@media (max-width: 586px) {
    .home {
        text-align: center;
    }

    .home_img {
        max-width: 70%;
        margin: 0 auto;
    }
   

}
@media(min-width: 587px) {
    .home {
      display: grid;
      grid-template-columns: 1fr 300px;
      grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
        
        
    }
    .section_title-home {
      grid-area: subtitle;
      font-size: 80px;
      
  
    }
    .section_subtitle-home {
      grid-area: text;
      
    }
  
    .home_img {
      grid-area: img;
      /* margin: 0 auto; */
      
      max-width: 100%;
      height: auto;
  
    }
  
} 


/* ABOUT ME
----------------------------------------------- */

.aboutme {
    margin: 20px 50px;
}
.aboutme_p {
    line-height: 1.7;
    margin: 10px 50px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
  
  }

 .aboutme_p-interests {
  /* color: #FDCA40; */
  font-weight: bold;
 } 
  
  .aboutme_h {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 30px;
    /* padding-bottom: 0px; */
    /* background-color: : #FDCA40; */
  }
  
  .indented {
    margin-left:40px;
    font-size: 13px;
  }
  
  @media (max-width: 586px) {
    .aboutme {
      margin: 20px 25px;
    }
      .aboutme_p {
        margin: 20px 0px;
      }

  }



/* WORK
----------------------------------------------- */
.projects {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
}

.project_types {
  text-align: center;
}
.project {
  margin: 25px 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #FDCA40;
}

.project_types a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.project_types a:hover {
  border-bottom: 3px solid #fff3b0;
}
.project_type {
  margin-left: 30px;
  font-size: 30px;
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  font-family: 'Lora', serif;
  font-weight: bold;
  /* color: #e59500; */
}
.project_type:hover {
  color: #e59500;
}


  /* .project_overview {
    display: flex;
  } */
  .project_title {
    font-family: 'Lora', serif;
  }
  .project_date {
    margin-left: auto;
  }

  .project_img {
    width: 130px;
    height: auto; 
    
  }
  

  .project_info {
    font-size: 15px;
  }


  .project_info-github {
    font-weight: bold;
    color: #e59500;
  }

  .project_info a{
    text-decoration: none;
    color: #e59500;

  }
  .project_stack {
    padding: 5px 0px;
  }
  .project_stack-tech {
    background-color: #F4F4F4;
    margin: 2px 5px;
    padding: 3px 4px;
    border-radius: 3px;
    color: rgb(155, 154, 154);
    font-size: 12px;
    /* margin-top: 20px; */
  /*   border: 1px solid blue; */
    
  }
  
  @media (max-width: 586px) {
    .project {
      display: flex;
      flex-direction: column;
    }
    .project_types {
      display: flex;
      flex-direction: column;
    
    }
    .project_types a {
  
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0 100px;
    }
    .project_img {
      margin: 0 auto;
      order: -1;
      padding-bottom: 5px;
      width: 180px;
      height: auto;
    }
  }
  
  @media (min-width: 587px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
      "img title"
      "img stack"
      "img text";
   grid-column-gap: 2em;
   
  }
  
  .project_overview {
    grid-area: title;
    display: flex;
  }
  
  .project_stack {
    grid-area: stack;
    
  }
  .project_info {
    grid-area: text;
  }
  
  .project_img {
    grid-area: img;
    margin: 0 auto;
    /* margin-right: 0px; */
  }
}

  

  